= simple_form_for @task, :url => teacher_tasks_path(@teacher, @task), :method => :post do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :priority, Task::PRIORITIES, as: :select
  = f.submit "Save this article", class: 'btn btn-success'
  or
  = link_to "Cancel", teacher_tasks_path(@teacher), class: 'btn btn-default'
