%h1 Edit Task
= simple_form_for @task, :url => teacher_task_path(@teacher, @task), :method => :put do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.select :priority, Task::PRIORITIES
  = f.submit "Save this article", class: 'btn btn-success'
  or
  = link_to "Cancel", teacher_tasks_path(@teacher), class: 'btn btn-default'
