%h1 Tasks

= link_to "Create New Task", new_teacher_task_path(@teacher), class: 'btn btn-primary'

.author
  %table.table.table-striped
    %tr
      %th title
      %th description
      %th priority
      %th edit
      
    - @tasks.each do |task|
      %tr
        %td= task.title
        %td= task.description
        %td= task.priority
        %td= link_to "Show", teacher_task_url(@teacher, task), class: 'btn btn-default btn-mini'
        
      
= link_to "View Teacher", teacher_url(@teacher), class: 'btn btn-info'
