%h1 Signin to your account
= simple_form_for :user, :html => {:autocomplete => "off"}, url: signin_url do |f|

  = f.input :email, placeholder: "Username"
  = f.input :password, placeholder: "Password"

  .form-actions
    = f.submit "Login Now", class: 'btn btn-success'
    or
    = link_to fa_icon('plus') +  " Create New Account", signup_url, class: 'btn btn-primary'
