%h1
  Add New Locker for #{@teacher.name}
= simple_form_for @locker, :url => teacher_locker_path(@teacher, @locker)  do |f|
  = f.input :locker_number
  = f.input :compartment
  = f.submit "Save this article", class: 'btn btn-success'
  or
  = link_to "Cancel", teacher_locker_path(@teacher), class: 'btn btn-default'
